.add-chat-container {
  display: inline-block;
}

.add-chat-buttons-container {
  margin-top: 30px;
}

.add-chat-add-btn {
  display: inline-block;
}

.chosen-users-container {
  margin-top: 15px;
}

.add-chat-users-list {
  height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.add-chat-users-list-container {
  margin-top: 30px;
}