.my-message-box-item {
  margin-left: auto; 
  margin-right: 0px;
}

.profile-picture {
  max-height: 80px;
}

.my-message-box-item, .other-message-box-item {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 450px;
  padding-left: 10px;
  padding-right: 10px;
}

.other-message-box-item > .container > .row > div.col-md-1 {
  padding-right: 10px;
  padding-left: 0px;
}

.other-message-box-item > .container > .row > div.col-md-11 {
  padding-left: 0px;
}