.my-message-box-item {
  text-align: right;
}

.other-message-box-item {
  text-align: left;
}

.profile-picture {
  max-height: 20px;
}

.my-message-box-item, .other-message-box-item {
  margin-top: 10px;
  margin-bottom: 10px;
}